
button{
    width: 50%;
    height: auto;
    margin: auto;
    
}
img{
    width: 100%;
    height: auto;
   
}
body{
    background-color: dimgrey;
}
div{
    width: 100%;
    margin: 15% auto 15% auto;
    align-content: center;
text-align: center;
}

