
button{
    width: 20%;
    height: auto;
    margin: auto;
    
}
img{
    width: 100%;
    height: auto;
   
}
body{
    background-color: dimgrey;
}
div{
    width: 100%;
    margin: 5% auto 5% auto;
    align-content: center;
text-align: center;
}

