.sharebox {
    position: relative;
    display: inline-block;
    padding: 0.8rem 1rem;
    padding-left: 2.2rem;

    background-color: #e939c2;

    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #363636;
    
}

.sharebox > .fb-icon {
    position: absolute;
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    bottom: 1rem;
    left: 0.6rem;

    background-image: url(../icons/fb-icon.svg);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}