
body{
    background-image: url('./Asset/Graphique/AssetsSiteWeb/page_partage/background_page_partage_PNG8.png');
    background-size: 100% 100%;
}
#FrozenImage{
    position: absolute;
    width: auto;
    height: auto;
}

#TextLangue{
   position: absolute;
   top:7%;
   width: 50%;
   height:15%;
   left:25%;
   right:25%;
}

div{
    position: absolute;
    top:23%;
    left:37%;
    right:25%;
    width:30%;
    height: 30%;
    text-align: center;
    align-content: center;
}

div>span{
    align-content: center;
    text-align: center;
    font-size: 5vw;
    align-self: center;
}
#FacebookButton{
    position: absolute;
    width: auto;
    height: auto;
    top:45%;
    left:56%;
}

#TwiterButton{
    position: absolute;
    
    width: auto;
    height: auto;
    top:40%;
    right:52%;
}