
body{
    background-image: url("./Asset/Graphique/Interface/tutorial_en_v2_PNG8.png");
    background-size: 100% 100%;
}


img{
    position: fixed;
    bottom: 10%;
    right: 10%;
form p{
    font-size: 18pt;
    font-stretch: expanded;
}
form{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
button{
    margin-top: 8%;
    width: 100%;
    height: auto;
    width: auto;
}
a{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
    color: white;
    
    border-radius: 10px;
}
a:visited{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
    color: white;
}
a button{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
    color:white;
}
div a{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
    color:white;
    background-color: cyan;
}
div iframe{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
}
.btn-facebook {
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}
form p button{
    margin-top: 8%;
    width: 100%;
    height: auto;
    font-size: 24pt;
    font-stretch: expanded;
}
body {
    margin: 5%;
    font-family: Helvetica;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media screen and (orientation:portrait) {

}

