
@media screen and (orientation:portrait) {
    html{
        
        transform: rotate(-90deg);   
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        
    }
}
body{
    background-image: url("Asset/Graphique/AssetsSiteWeb/page_tuto/background_tuto_pc_PNG8.png");
    background-size: auto 100%;
}

img{
    position: fixed;
    bottom: 10%;
    right: 10%;
}

div{
    position: absolute;
    top:15%;
    left: 25%;
    height: 25%;
    width: 25%;
   
}

p{
    color: white;
    font-size: 1vw;
    
}